
    <div id="archives" class="content clearfix">
        <div class="row-fluid clearfix">
            <div class="col-xs-12">
                <h3 class="page-title">Archive for version 2.3</h3>
            </div>
        </div>
        <hr />

        <h4 class="page-title">Resources</h4>
        <p>
            Download sample apps and source code here to help you get started
            and accelerate your development efforts.  You may modify (but not redistribute)
            this sample code.  Sample code is provided as is, and is not certified or supported
            by Magnet.  It is intended for educational purposes only.
        </p>

        <ul class="nav nav-tabs" role="tablist" id="archives-resources-tab">
            <li role="presentation" class="active"><a href="#archives-230-resources-1" aria-controls="home" role="tab" data-toggle="tab">
                <div class="nav-tab-item">
                    <img class="img-responsive" src="/img/site/logo_xl_mab.png" />
                    <b>Mobile App Builder</b>
                    <p>App Development Tool</p>
                </div>
                <img class="nav-bottom" src="/img/site/tab_pointer.png" />
            </a></li>
            <li role="presentation"><a href="#archives-230-resources-2" aria-controls="profile" role="tab" data-toggle="tab">
                <div class="nav-tab-item">
                    <img class="img-responsive" src="/img/site/logo_xl_sdk.png" />
                    <b>Mobile SDK</b>
                    <p>Software Development</p>
                </div>
                <img class="nav-bottom" src="/img/site/tab_pointer.png" />
            </a></li>
        </ul>
        <div class="tab-content" id="archives-resources-content">
            <div role="tabpanel" class="tab-pane active" id="archives-230-resources-1">
                The Magnet Mobile App Builder is a command line utility that allows users
                to create their custom mobile app projects, add API modules, generate Mobile APIs
                for use with Mobile Server Library on iOS and Android, build the Mobile
                Backend, initialize local or remote databases, and manage the lifecycle
                of Mobile Backend instances (e.g. deploy, start, stop) either locally or
                in the cloud.
                <p><br />Note: The Magnet Mobile App Builder is compatible with Windows, OSX, and Linux.</p>
                <div>
                    <a href="/resources/files/mab.zip" class="btn btn-primary">Download</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="archives-230-resources-2">
                The Magnet Mobile SDK provides a set of libraries and APIs for synchronous, asynchronous, or reliable call options,
                applying network and geo-fencing constraints, response caching, and user authentication when interacting with the Magnet
                Mobile Backend.
                <div>
                    <a href="https://github.com/magnetsystems/magnet-sdk-android" target="_blank" class="btn btn-primary">Download for Android&trade;</a>
                    <a href="https://github.com/magnetsystems/magnet-sdk-ios" target="_blank" class="btn btn-primary">Download for iOS&trade;</a>
                    <a href="https://github.com/magnetsystems/magnet-sdk-javascript" target="_blank" class="btn btn-primary">Download for JavaScript&trade;</a>
                </div>
            </div>
        </div>

        <hr />

        <h4>Documentation</h4>
        <p>
            Learn about the nitty-gritty details of developing and enhancing your own mobile apps with these developer guides.
        </p>
        <div class="img-section-h clearfix">
            <div class="logo">
                <img class="img-responsive" src="/img/site/logo_md_gs.png"  />
            </div>
            <div class="text">
                <h4>Get Started</h4>
                <a href="/archives/2.3/get-started">Install Mobile App Builder</a><br />
                <a href="/archives/2.3/build-backend">Build Your Mobile Backend</a><br />
                <a href="/archives/2.3/build-mobile">Build Your Mobile Project</a>
            </div>
        </div>
        <hr />
        <div class="img-section-h clearfix">
            <div class="logo">
                <img class="img-responsive" src="/img/site/logo_md_android.png"  />
            </div>
            <div class="text">
                <h4>Mobile SDK for Android&trade;</h4>
                <a href="#">Developer Guide</a><br />
                <a href="#">API Documentation</a><br />
                <a href="#">Release Notes</a>
            </div>
        </div>
        <hr />
        <div class="img-section-h clearfix">
            <div class="logo">
                <img class="img-responsive" src="/img/site/logo_md_ios.png"  />
            </div>
            <div class="text">
                <h4>Mobile SDK for iOS&trade;</h4>
                <a href="#">Developer Guide</a><br />
                <a href="#">API Documentation</a><br />
                <a href="#">Release Notes</a>
            </div>
        </div>
        <hr />
        <div class="img-section-h clearfix">
            <div class="logo">
                <img class="img-responsive" src="/img/site/logo_md_js.png"  />
            </div>
            <div class="text">
                <h4>Mobile SDK for JavaScript&trade;</h4>
                <a href="#">Developer Guide</a><br />
                <a href="#">API Documentation</a><br />
                <a href="#">Release Notes</a>
            </div>
        </div>
        <hr />
        <div class="img-section-h clearfix">
            <div class="logo">
                <img class="img-responsive" src="/img/site/logo_md_mab.png"  />
            </div>
            <div class="text">
                <h4>Mobile Backend</h4>
                <a href="#">Developer Guide</a><br />
                <a href="#">Deployment Guide</a><br />
                <a href="#">API Documentation</a><br />
                <a href="#">Release Notes</a>
            </div>
        </div>
    </div>
