
    <div id="archives" class="content clearfix">
        <div class="row-fluid clearfix">
            <div class="col-xs-12">
                <h3 class="page-title">Archive for version 2.3</h3>
            </div>
        </div>
        <hr />

        <h4 class="page-subtitle">Get Started</h4>
        <h5 class="page-section-title">Install Mobile App Builder</h5>


        <p>The Magnet Mobile App Builder is a command line utility that allows users to create their custom mobile app projects,
            add API modules, generate Mobile APIs for use with Mobile Server Library on iOS and Android, build the Mobile Backend,
            initialize local or remote databases, and manage the lifecycle of Mobile Backend instances (e.g. deploy, start, stop)
            either locally or in the cloud.</p>

        <a href="/resources/files/mab.zip" class="btn btn-primary">Download Magnet Mobile App Builder</a>

        <h5 class="section-title">Software required by the Mobile App Builder:</h5>
        <ol>
            <li>Java SE Development Kit 7</li>
            <li>Maven 3.1.0 </li>
            <li>MySQL Community Server 5.5 GA (optional)</li>
        </ol>

        <h5 class="section-title">Install Mobile App Builder Automatically with Brew (OSX Only):</h5>
        <pre>brew install https://raw.githubusercontent.com/magnetsystems/installer/master/mab.rb</pre>
        <p>More instructions about the installer can be found at the <a href="https://github.com/magnetsystems/installer">Mobile App Builder Installer GitHub repository</a>. </p>

        <h5 class="section-title">Install Mobile App Builder Manually on Windows, OSX, and Linux:</h5>
        Supported Operating Systems
        <ul>
            <li>Linux&#174; Ubuntu&#174; 12</li>
            <li>Mac&#174; OS X&#174; 10.8 or later</li>
            <li>Windows&#174; 7</li>
        </ul>
        <ol>
            <li>Download the <a target="_blank" href="/resources/files/mab.zip">Magnet Mobile App Builder</a>.</li>
            <li>Unzip the archive to a directory of your choice. We recommend <b>$HOME/magnet</b>.</li>
            <li>
                For the Mobile App Builder to be accessible from any directory, consider adding
                <b>&lt;install-directory&gt;/mab/bin</b> to your PATH environment variable.
            </li>
        </ol>

        <p>For detailed installation instructions, see the <a href="/docs/backend_howto/">Mobile Backend Developer Guide</a></p>

        <div class="next">
            <a href="/archives/2.3/build-backend">Next: Build Your Mobile Backend</a>
        </div>

    </div>
