<div class="hero hero-lg general-bgk clearfix">
    <div class="hero-content">
        <div class="media">
            <div class="hero-image">
                <img src="/img/site/logo_xl_data_white.png"  />
            </div>
            <div class="hero-title">
                <h3>Data Modeler for Android</h3>
                <p>Free Visual ORM For Android</p>
                <hr />
                <ul class="hero-list clearfix">
                    <li>Plugin for Android Studio and IntelliJ IDEA</li>
                    <li>Developer-friendly interface</li>
                    <li>Support contextual requests</li>
                    <li>Complex relational modeling capability</li>
                </ul>
            </div>
        </div>
    </div>
    <!--<a class="home-forkmeongithub-link" target="_blank" href="https://github.com/magnetsystems/rest2mobile"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>-->
    <div class="hero-overlay"></div>
</div>

<div class="download-advertisement clearfix">
    <h3 class="text-center">The client SDK will be <b>available soon</b>.</h3>
    <div class="row-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <a href="#" class="btn btn-primary android disabled">Android Plugin</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="clearfix text-center general-bgk">
    <h3>Code Sample</h3>
    <div class="row-fluid clearfix">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div id="persistence-demo">
                <div class="code">
                    <div id="persistence-demo-code"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="clearfix text-center">
    <h3>Sneak Peek of the Plugin</h3>
    <div class="row-fluid clearfix">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <img src="/img/developer/mp_screenshot.png" class="img-responsive" alt="screenshot of the data modeler plugin" />
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="newsletter-signup general-bgk clearfix text-center">
    <h3>Get notified about this release</h3>
    <p>Sign up and we will email you news and updates about this plugin.</p>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Email Address" name="email">
            <div class="newsletter-signup-btn btn btn-primary invert input-group-addon" did="persistence">Sign me up</div>
        </div>
    </div>
</div>

<script id="sample-persistence-android" type="text/template">// Read Entity for Delete
EntityContext readContext = this.androidDataClient.createEntityContext(EntityContextType.READ_ONLY);
List&lt;PrimitiveType&gt; primitiveTypeList = readContext.getPrimitiveTypes().executeList();
PrimitiveType deletePrimitiveType = primitiveTypeList.get(0);
readContext.close();
// Delete Entity
EntityContext deleteContext = this.androidDataClient.createEntityContext(EntityContextType.READ_WRITE);
deleteContext.attach(deletePrimitiveType);
deleteContext.delete()</script>