<div class="hero hero-lg scenic-bgk clearfix">
    <div class="picture-notify">
        <div class="visible-xs">
            Available <b>Soon</b>
        </div>
        <div class="hidden-xs">
            <img class="picture-notify" src="/img/site/avaliable_soon_ribbon.png"  />
        </div>
    </div>
    <div class="hero-content">
        <div class="media">
            <div class="hero-image">
                <img src="/img/site/logo_xl_data_white.png"  />
            </div>
            <div class="hero-title">
                <h3>Entity Modeler for Android</h3>
                <hr />
                <p>Data Modeler and ORM (Object Relational Mapping) Framework for Android</p>
            </div>
        </div>
    </div>
</div>

<div class="same-height-panel clearfix">
    <div class="row-fluid clearfix">
        <div class="col-sm-6 left">
            <div class="img-section-v">
                <h5>Plugin</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>Available as a plugin for Android Studio, this entity modeler is the missing link between your data and your
                        mobile app. Visually build and manage your model with entities, relationships, properties and more.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 right">
            <div class="img-section-v">
                <h5>ORM Framework</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>Query your data with simple requests targeting entities with properties and complex relationships. Support roles and contextual requests. No SQL required.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="newsletter-signup clearfix text-center general-bgk">
    <h3>Request an Invite</h3>
    <p>Be the first to be notified when Entity Modeler for Android is available</p>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Email Address" name="email">
            <div class="newsletter-signup-btn btn btn-primary invert input-group-addon" did="persistence">Request Invite</div>
        </div>
    </div>
</div>

<div class="clearfix general-bgk text-center">
    <h3>Visually Define your Android Data Model</h3>
    <div class="row-fluid clearfix">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a href="/img/site/entity_plugin_notes.png" data-lightbox="image-1" data-title="Entity Modeler">
                <img src="/img/site/entity_plugin_notes.png" class="img-responsive" alt="screenshot of the entity modeler plugin" />
            </a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
