
<div class="image-banner clearfix text-center">
    <div id="home-banner" class="valign">
        <h1>Magnet <br />Developer Hub</h1>
        <!--<a class="watch-video-btn" video-title="We solve Developer Problems" did="xB0QaS6FKns" href="#">-->
            <!--<img alt="play developer video" src="/img/site/logo_md_youtube.png">-->
        <!--</a>-->
        <h5>Build Enterprise-grade Mobile Apps With Magnet</h5>
    </div>
    <img class="img-responsive" src="/img/site/title_background.png" alt="home bgk" />
</div>

<div id="home-three-column" class="same-height-panel clearfix">
    <div class="row-fluid clearfix">
        <div class="col-sm-4">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/logo_xl_r2m.png"  />
                </div>
                <h5>rest2mobile</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>Rest2mobile simplifies how your apps connect to REST services. No more JSON parsing or remote connection handling. </p>
                    <p>Rest2mobile generates native code on Android, iOS, and JavaScript. Built for mobile developers, it is available as a plugin or as a command line interface (CLI).</p>
                </div>
                <div class="btn-container">
                    <a href="/rest2mobile" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mid">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/logo_xl_mmx.png"  />
                </div>
                <h5>Mobile Messaging</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>Securely communicate with your users using reliable mobile notifications.</p>
                    <p>Apply for an invite and try Mobile Messaging to discover how to engage with your mobile audience anytime, anywhere.</p>
                </div>
                <div class="btn-container">
                    <a href="/messaging" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/logo_xl_data.png"  />
                </div>
                <h5>Entity Modeler for Android</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>Simplify your mobile persistence with this new visual ORM (Object Relational Mapping) plugin for Android Studio.</p>
                    <p>Create complex relational models and perform sophisticated object requests. No SQL required.</p>
                </div>
                <div class="btn-container">
                    <a href="/persistence" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="newsletter-signup clearfix text-center general-bgk">
    <h3>Join our Developer Community</h3>
    <p>Receive news, tips, tutorials, and updates about Magnet's offerings</p>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Email Address" name="email">
            <div class="newsletter-signup-btn btn btn-primary invert input-group-addon" did="newsletter">Sign me up</div>
        </div>
    </div>
</div>

<div class="iframe-spacing clearfix text-center general-bgk">
    <h3>Why do Mobile Developers Need Magnet?</h3>
    <div>
        <iframe src="https://www.youtube.com/embed/xB0QaS6FKns?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div id="home-quote" class="clearfix">
    <div class="row-fluid">
        <div class="col-sm-8">
            <div class="bubble-text-container">
                Thanks for the wonderful library! It's really amazing the level of productivity I've been able to reach! Most interesting and
                useful feature is the ability to make blocking calls.
                <!--<footer>Maniacdev.com</footer>-->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bubble-text-person">
                <img class="pull-left" valign="absmiddle" src="/img/site/user_icon.png" />
                <h5>Raffaelle C</h5>
                <p>mobile developer</p>
            </div>
        </div>
    </div>
</div>
