
<div class="banner banner-md general-bgk clearfix">
    <div class="row-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <div class="padding-sm">
                <h3>rest2mobile for Android</h3>
                <h4>For Android Studio and IntelliJ IDEA</h4>
                <p class="caption-sm">(Apache License, Version 2.0)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="sdk-section text-center">
                <img src="/img/developer/andstudio_lg.png" />
                <div class="caption">
                    <a href="//github.com/magnetsystems/r2m-plugin-android/releases/download/1.1.4/r2m-plugin-android-1.1.4.zip" onclick="popSignUp(); ga('send', 'event', 'r2m-android-plugin', 'Yes');  Trackalyzer(18080, 'r2m-android-plugin');" class="btn btn-primary dl">
                        Download
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>

<div class="step-section clearfix">
    <div class="row-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="step-title">Step 1</h4>
            <h4>Install the rest2mobile plug-in</h4>
            <ul>
                <li>Open Android Studio or IntelliJ IDEA, go to Preferences, Plugins, and choose <b>Install plugin from disk</b>. In
                the dialog that opens, select the Android plug-in you downloaded earlier. </li>
                <li>Click OK. Your IDE will restart.</li>
            </ul>
            <img src="/img/developer/step1_andrd.png" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="step-section clearfix">
    <div class="row-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="step-title">Step 2</h4>
            <h4>Generate Java code for your REST service</h4>
            <ul>
                <li>To generate Java code for your REST/JSON service, open the Magnet menu, and choose <b>Add REST API</b>.</li>
                <li>Enter the REST request, parameters, headers, and response if you have one, otherwise click <b>Test API</b> to generate one from the API.</li>
                <li>Click <b>Generate Service</b>.</li>
            </ul>
            <img src="/img/developer/step2_andrd.png" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="step-section clearfix">
    <div class="row-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="step-title">Step 3</h4>
            <h4>Call the code from your app</h4>
            <ul>
                <li>Update your app's build.gradle with the following:
<pre>repositories {
    maven {
        url "http://repo.magnet.com:8081/artifactory/public/"
    }
    mavenLocal()
    mavenCentral()
}
dependencies {
	compile("com.magnet:r2m-sdk-android:1.1.0@aar") {
        transitive = true
    }
}
</pre>
                </li>
                <li>You are now successfully integrating APIs using the Magnet rest2mobile plug-in.</li>
            </ul>
            <img src="/img/developer/step3_andrd.png" />
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="help-container">
    <a class="clearfix" href="https://github.com/magnetsystems/rest2mobile" target="_blank">
        <img src="/img/developer/github_logo.png" class="pull-left">
        <h5>Find us on GitHub</h5>
    </a>
</div>