
<div class="banner banner-md nomargin general-bgk clearfix">
    <div class="row-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <div class="padding-sm">
                <h3>rest2mobile Command Line Tool</h3>
                <h4>For iOS, JS, and Android</h4>
                <p class="caption-sm">(Apache License, Version 2.0)</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="sdk-section text-center">
                <img src="/img/developer/cli_lg.png" />
                <div class="caption">
                    <a href="//github.com/magnetsystems/r2m-cli/releases/download/1.1.0/r2m-installer-1.1.0.zip"  onclick="popSignUp(); ga('send', 'event', 'r2m-js-cli', 'Yes'); Trackalyzer(18080, 'r2m-js-cli');" class="btn btn-primary">
                        Download
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
</div>

<div class="step-section clearfix">
    <div class="row-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="step-title">Step 1</h4>
            <h4>Install r2m</h4>
            <ul>
                <li><b>DOWNLOAD ZIP</b> <br />Download and unzip the <a href="//github.com/magnetsystems/r2m-cli/releases/download/1.1.0/r2m-installer-1.1.0.zip" onclick="popSignUp(); ga('send', 'event', 'r2m-js-cli', 'Yes'); Trackalyzer(18080, 'r2m-js-cli');">installer</a>.</li>
		<li><b>BREW (for OS X)</b>
                <pre>&gt; brew install https://raw.githubusercontent.com/magnetsystems/r2m-cli/master/brew/r2m.rb</pre>
		</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="step-section clearfix">
    <div class="row-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="step-title">Step 2</h4>
            <h4>Create Rest By Example File</h4>
            <ul>
                <li>To generate rest2mobile code using the r2m tool, you need to provide a "REST by example" file that contains
                    a specification of actual REST request URLs and their expected JSON response.
                    Learn more about the syntax of Rest By Example files at the
                    <a href="https://github.com/magnetsystems/rest2mobile/wiki/Rest-By-Example-Specifications">rest2mobile Wiki</a>
		    and the <a href="https://github.com/magnetsystems/r2m-cli/blob/master/README.md">rest2mobile CLI GitHub</a> page.
                </li>
                <li>An example file is provided below. Copy and paste the following Rest By Example below into a file called <b>example.txt</b> in a directory of your choice.
<pre>+Name getTimeZone
+Request
https://maps.googleapis.com/maps/api/timezone/json?location=39.6034810,-119.6822510&amp;timestamp=1331161200&amp;sensor=true

+Response
+Body
{
   "dstOffset" : 0,
   "rawOffset" : -28800,
   "status" : "OK",
   "timeZoneId" : "America/Los_Angeles",
   "timeZoneName" : "Pacific Standard Time"
}</pre>
                </li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="step-section clearfix">
    <div class="row-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="step-title">Step 3</h4>
            <h4>Generate native code for your REST service</h4>
            <ul>
                <li>Navigate to the directory containing the Rest By Example file and use the <b>r2m</b> tool to generate Mobile APIs
                    into the <b>Mobile</b> directory.
                <pre>&gt; r2m gen -e example.txt</pre>
                </li>
                <li>The instructions to import the SDK and invoke the API for each platform are available on GitHub at <a href="https://github.com/magnetsystems/r2m-cli#invoking-the-mobile-api">Invoking the Mobile API</a>.</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="help-container">
    <a class="clearfix" href="https://github.com/magnetsystems/rest2mobile" target="_blank">
        <img src="/img/developer/github_logo.png" class="pull-left">
        <h5>Find us on GitHub</h5>
    </a>
</div>