<div class="hero hero-lg scenic-bgk clearfix">
    <div class="picture-notify">
        <div class="hidden-xs">
            <a href="https://github.com/magnetsystems/rest2mobile">
                <img class="picture-notify" src="/img/site/Git_flip.png"  />
            </a>
        </div>
    </div>
    <div class="hero-content">
        <div class="media">
            <div class="hero-image">
                <img src="/img/site/logo_xl_r2m_white.png"  />
            </div>
            <div class="hero-title">
                <h3>rest2mobile</h3>
                <hr />
                <p>A FREE tool to Generate Native Code for REST services</p>
            </div>
        </div>
    </div>
</div>

<div class="same-height-panel clearfix">
    <div class="row-fluid clearfix">
        <div class="col-sm-4">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/computer_code.png"  />
                </div>
                <h5>Code Generation</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>Turns multiple REST services into mobile SDKs</p>
                    <p>Generate type-safe code to integrate natively with your app</p>
                    <p>Build multi-platform mobile apps (Android, iOS & JS)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mid">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/1234boxes.png"  />
                </div>
                <h5>Simplicity</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>Simple plugin for your existing IDE (Android Studio, IntelliJ IDEA & Xcode)</p>
                    <p>"REST by example" - no standard required</p>
                    <p>Easy on-boarding process</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/thumbs_up.png"  />
                </div>
                <h5>Developer Friendly</h5>
                <hr />
                <div class="fixed-height-container">
                    <p>CLI tool for automation</p>
                    <p>Refactoring & unit test-friendly</p>
                    <p>Available on GitHub</p>
                    <p>Open Source & Free</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="download-banner general-bgk clearfix">
    <h3 class="text-center">Download Now. It’s FREE!</h3>
    <div class="row-fluid">
        <div class="col-sm-4 text-center">
            <a onclick="ga('send', 'event', 'r2m-android-plugin-auto', 'Yes'); Trackalyzer(18080, 'r2m-android-plugin-auto');" href="/rest2mobile/android?dl=1" class="btn btn-primary invert noborder">
                Android Plugin
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a onclick="ga('send', 'event', 'r2m-ios-plugin-auto', 'Yes'); Trackalyzer(18080, 'r2m-ios-plugin-auto');" href="/rest2mobile/ios?dl=1" class="btn btn-primary invert noborder">
                iOS Plugin
            </a>
        </div>
        <div class="col-sm-4 text-center">
            <a onclick="ga('send', 'event', 'r2m-js-cli-auto', 'Yes'); Trackalyzer(18080, 'r2m-js-cli-auto');" href="/rest2mobile/cli?dl=1" class="btn btn-primary invert noborder">
                Command Line Tool
            </a>
        </div>
    </div>
</div>

<div class="newsletter-signup clearfix text-center general-bgk">
    <h3>Stay Up-To-Date</h3>
    <p>Get the latest news and updates on rest2mobile</p>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Email Address" name="email">
            <div class="newsletter-signup-btn btn btn-primary invert input-group-addon" did="rest2mobile" success="We will send you news and updates about rest2mobile.">Sign me up</div>
        </div>
    </div>
</div>

<div class="clearfix general-bgk text-center">
    <h3>Try It Out</h3>
    <div id="r2m-demo" class="tabbed-demo">
        <!--<h5>1. Import any REST API into rest2mobile.</h5>-->
        <div class="form-group select">
            <select class="form-control" name="url-select" id="url-select" data-placement="auto top" title="Try our interactive demo">
                <option value="disable">Select an API to continue</option>
                <option value="earthquake">SEISMI Earthquake</option>
                <option value="distance" selected="selected">Google Distance</option>
                <option value="timezone">Google Time Zone</option>
            </select>
        </div>
        <!--<h5 id="r2m-step2">2. rest2mobile generates mobile APIs for your desired platform!</h5>-->

        <ul class="nav nav-tabs tabs-backgrounded" role="tablist">
            <li did="android" role="presentation" class="android active"><a href="#r2m-demo-android" aria-controls="home" role="tab" data-toggle="tab">
                <div class="nav-tab-item">
                    <img class="img-responsive" src="/img/developer/andstudio_on.png" />
                </div>
                <!--<img class="nav-bottom" src="/img/site/tab_pointer.png" />-->
            </a></li>
            <li did="ios" role="presentation" class="ios"><a href="#r2m-demo-ios" aria-controls="profile" role="tab" data-toggle="tab">
                <div class="nav-tab-item">
                    <img class="img-responsive" src="/img/developer/logo_xcode_on.png" />
                </div>
                <!--<img class="nav-bottom" src="/img/site/tab_pointer.png" />-->
            </a></li>
            <li did="js" role="presentation" class="js"><a href="#r2m-demo-js" aria-controls="profile" role="tab" data-toggle="tab">
                <div class="nav-tab-item">
                    <img class="img-responsive" src="/img/developer/js_on.png" />
                </div>
                <!--<img class="nav-bottom" src="/img/site/tab_pointer.png" />-->
            </a></li>
            <li did="curl" role="presentation" class="curl"><a href="#r2m-demo-curl" aria-controls="profile" role="tab" data-toggle="tab">
                <div class="nav-tab-item">
                    <img class="img-responsive" src="/img/developer/curl_on.png" />
                </div>
                <!--<img class="nav-bottom" src="/img/site/tab_pointer.png" />-->
            </a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="r2m-demo-android">
                <!--<h5>SAMPLE ANDROID CODE</h5>-->
                <div id="r2m-demo-android-code" class="code-container"></div>
            </div>
            <div class="tab-pane" id="r2m-demo-ios">
                <!--<h5>SAMPLE IOS CODE</h5>-->
                <div id="r2m-demo-ios-code" class="code-container"></div>
            </div>
            <div class="tab-pane" id="r2m-demo-js">
                <!--<h5>SAMPLE JAVASCRIPT CODE</h5>-->
                <div id="r2m-demo-js-code" class="code-container"></div>
            </div>
            <div class="tab-pane" id="r2m-demo-curl">
                <!--<h5>SAMPLE CURL</h5>-->
                <div id="r2m-demo-curl-code" class="code-container"></div>
            </div>
        </div>
    </div>
</div>

<div class="iframe-spacing clearfix text-center general-bgk">
    <h3>Introduction To rest2mobile</h3>
    <div>
        <div>
            <iframe src="https://www.youtube.com/embed/JVyB0a4MtwU?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <p>Let our lead software architect, Emmanuel, tell you how easy it is to build a connected app that integrates with REST services in no time.</p>
</div>

<div class="download-links general-bgk clearfix text-center">
    <h3>Get Started in Less than 3 Steps.</h3>
    <div class="row-fluid clearfix">
        <div class="col-sm-4">
            <div class="sdk-section">
                <a href="/rest2mobile/android"><img src="/img/developer/andstudio_lg.png" /></a>
                <div class="caption">
                    <a href="/rest2mobile/android" class="btn btn-primary">Android guide</a>
                </div>
                <div>
                    Plugin to generate Android code with Android Studio & IntelliJ IDEA.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="sdk-section">
                <a href="/rest2mobile/ios"><img src="/img/developer/xcode_lg.png" /></a>
                <div class="caption">
                    <a href="/rest2mobile/ios" class="btn btn-primary">iOS guide</a>
                </div>
                <div>
                    Plugin to generate Objective-C code with Xcode 5 and 6.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="sdk-section">
                <a href="/rest2mobile/cli"><img src="/img/developer/cli_lg.png" /></a>
                <div class="caption">
                    <a href="/rest2mobile/cli" class="btn btn-primary">Command Line guide</a>
                </div>
                <div>
                    Command-line tool to generate cross platform code.
                </div>
            </div>
        </div>
    </div>
</div>

<pre id="sample-distance-android" class="hidden">MagnetMobileClient magnetMobileClient = MagnetMobileClient.getInstance(this.getApplicationContext());
// Create the controller instance
RestControllerFactory restControllerFactory = new RestControllerFactory(magnetMobileClient);
RestController restController = restControllerFactory.obtainInstance();

// Call the controller
Call&lt;GoogleDistanceResult&gt; callResponse = restController.getDistance(
    "435 Tasso Street Palo Alto CA",
    "Embarcadero Street San Francisco CA",
    "false",
    "driving",
    "en",
    "imperial",
    null);
GoogleDistanceResult googleDistanceResult = callResponse.get();</pre>
<pre id="sample-distance-ios" class="hidden">// Create an instance
RestController *controller = [[RestController alloc] init];

// Call the controller
[controller getDistance:@"435 Tasso Street Palo Alto CA"
   destinations:@"Embarcadero Street San Francisco CA"
         sensor:@"false"
           mode:@"driving"
       language:@"en"
         sensor:@"true"
          units:@"imperial"
        success:^(TimeZoneResult *response) {
            // NSLog(@"response is %@", response);
        }
        failure:^(NSError *error) {
            // NSLog(@"error is %@", error);
        }];</pre>
<pre id="sample-distance-js" class="hidden">var controller = new MagnetJS.Controllers.RestController();

var requestData = {
    origins : "435 Tasso Street Palo Alto CA",
    destinations : "Embarcadero Street San Francisco CA",
    sensor : "false",
    mode : "driving",
    language : "en",
    units : "imperial"
}

controller.googleDistance(requestData, {
    success : function(responseData, details){
        // do something with response data
    },
    error : function(error, details){
        // handle errors
    }
});</pre>
<pre id="sample-distance-curl" class="hidden">curl -X GET --header "Content-Type: application/json"  "http://maps.googleapis.com/maps/api/distancematrix/json?origins=435+Tasso+Street+Palo+Alto+CA&destinations=Embarcadero+Street+San+Francisco+CA&sensor=false&mode=driving&language=en&units=imperial"</pre>

<pre id="sample-timezone-android" class="hidden">MagnetMobileClient magnetMobileClient = MagnetMobileClient.getInstance(this.getApplicationContext());
// Create the controller instance
RestControllerFactory restControllerFactory = new RestControllerFactory(magnetMobileClient);
RestController restController = restControllerFactory.obtainInstance();

// Call the controller
Call&lt;TimeZoneResult&gt; callResponse = restController.getTimeZone("39.6034810,-119.6822510", "1331161200","true", null);
TimeZoneResult timeZoneResult = callResponse.get();</pre>
<pre id="sample-timezone-ios" class="hidden">// Create an instance
RestController *controller = [[RestController alloc] init];

// Call the controller
[controller getTimeZone:@"39.6034810,-119.6822510"
              timestamp:@"1331161200"
                 sensor:@"true"
                success:^(TimeZoneResult *response) {
                    // NSLog(@"response is %@", response);
                }
                failure:^(NSError *error) {
                    // NSLog(@"error is %@", error);
                }];</pre>
<pre id="sample-timezone-js" class="hidden">var controller = new MagnetJS.Controllers.RestController();

var requestData = {
    location  : "39.6034810,-119.6822510",
    timestamp : "1331161200",
    sensor    : "true",
    mode      : "driving",
    language  : "en",
    units     : "imperial"
}

controller.getMapsApiTimezoneJson(requestData, {
    success : function(responseData, details){
        // do something with response data
    },
    error : function(error, details){
        // handle errors
    }
});</pre>
<pre id="sample-timezone-curl" class="hidden">curl -X GET --header "Content-Type: application/json"  "https://maps.googleapis.com/maps/api/timezone/json?location=39.6034810,-119.6822510&amp;timestamp=1331161200&sensor=false&mode=driving&language=en&units=imperial"</pre>

<pre id="sample-earthquake-android" class="hidden">MagnetMobileClient magnetMobileClient = MagnetMobileClient.getInstance(this.getApplicationContext());
// Create the controller instance
RestControllerFactory restControllerFactory = new RestControllerFactory(magnetMobileClient);
RestController restController = restControllerFactory.obtainInstance();

// Call the controller
Call&lt;EarthquakesResult&gt; callResponse = restController.getEarthquakes(
    "2011",
    "03",
    "6",
    "500");
EarthquakesResult earthquakesResult = callResponse.get();</pre>
<pre id="sample-earthquake-ios" class="hidden">// Create an instance
RestController *controller = [[RestController alloc] init];

// Call the controller
[controller getEarthquakes:@"2011"
                        mm:@"03"
             min_magnitude:@"6"
                     limit:@"500"
                   success:^(EarthquakesResult *response) {
                       // NSLog(@"response is %s", response);
                   }
                   failure:^(NSError *error) {
                       // NSLog(@"error is %@", error);
                   }];</pre>
<pre id="sample-earthquake-js" class="hidden">var controller = new MagnetJS.Controllers.RestController();

var requestData = {
    "yyyy"          : "2011",
    "mm"            : "03",
    "min_magnitude" : "6",
    "limit"         : "500"
}

controller.getEarthquakes(requestData, {
    success : function(responseData, details){
        // do something with response data
    },
    error : function(error, details){
        // handle errors
    }
});</pre>
<pre id="sample-earthquake-curl" class="hidden">curl -X GET --header "Content-Type: application/json" "http://www.seismi.org/api/eqs/2011/03?min_magnitude=6&limit=500"</pre>