
    <div id="hero" class="clearfix">
        <div class="media">
            <div class="image-wrapper">
                <img src="/img/site/logo_xl_server.png"  />
            </div>
            <div id="hero-title">
                <h3 id="hero-heading">Introducing the Magnet Server.</h3>
                <p>Now available with the version 2.4 release.</p>
            </div>
        </div>
    </div>

    <div id="resources" class="content clearfix">
        <div class="row-fluid clearfix">
            <div class="col-xs-6">
                <h3 class="page-title">Resources</h3>
            </div>
            <div class="col-xs-6 text-right">
                <a href="/archives">Archives for version 2.3</a>
            </div>
        </div>
        <hr />
        <div class="img-section-h-lg clearfix">
            <div class="row-fluid">
                <div class="col-sm-8">
                    <div class="logo">
                        <img class="img-responsive" src="/img/site/logo_xl_server.png"  />
                    </div>
                    <div class="text">
                        <h2>Magnet Server</h2>
                        <p>Easily set up your own server</p>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <button class="btn btn-primary">Download .zip for VM</button><br />
                    <button class="btn btn-primary">Download Windows (.msi?)</button><br />
                    <button class="btn btn-primary">Download AMI (AWS cloud)</button><br />
                    <button class="btn btn-primary">Download for OpenStack</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="img-section-h-lg clearfix">
            <div class="row-fluid">
                <div class="col-sm-8">
                    <div class="logo">
                        <img class="img-responsive" src="/img/site/logo_xl_data.png"  />
                    </div>
                    <div class="text">
                        <h2>Data Model</h2>
                        <p>Create the database backend creating mobile persistence.</p>
                    </div>
                    <ul>
                        <li>- Create your Data Model</li>
                        <li>- Choose your database type</li>
                        <li>- Manage users and roles</li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right">
                    <button class="btn btn-primary">Download Android Plugin</button><br />
                    <button class="btn btn-primary">Download iOS Plugin</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="img-section-h-lg clearfix">
            <div class="row-fluid">
                <div class="col-sm-8">
                    <div class="logo">
                        <img class="img-responsive" src="/img/site/logo_xl_sdk.png"  />
                    </div>
                    <div class="text">
                        <h2>Mobile SDK</h2>
                        <p>A set of libraries and APIs for:</p>
                    </div>
                    <ul>
                        <li>- Synchronous, asynchronous, or reliable call options,</li>
                        <li>- Applying network and geo-fencing constraints,</li>
                        <li>- Response caching,</li>
                        <li>- User authentication</li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right">
                    <button class="btn btn-primary">Download for Android</button><br />
                    <button class="btn btn-primary">Download for iOS</button><br />
                    <button class="btn btn-primary">Download for JavaScript</button>
                </div>
            </div>
        </div>
        <hr />
        <a href="/archives">Need the last version? See our Archive.</a>
    </div>
