    <div class="row-fluid">
        <div class="clearfix page-view">
            <h4>Resources</h4>

            <p class="subhead">Download sample apps and source code here to help you get started and accelerate your development efforts.  You may modify (but not redistribute) this sample code.  Sample code is provided as is, and is not certified or supported by Magnet.  It is intended for educational purposes only.</p>

            <ul id="resources-tabmenu" class="nav nav-tabs">
                <li class="active"><a href="#tab-mab" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_mab.png" />
                    <b>Mobile App Builder</b>
                    <span>App Development Tool</span>
                </a></li>
                <li><a href="#tab-ms-sdk" data-toggle="tab">
                    <img src="/images/resources/rsrc_icon_sdk.png" />
                    <b>Mobile SDK</b>
                    <span>Software Development Kit</span>
                </a></li>
            </ul>

            <div id="resources-tabcontent" class="tab-content">

                <div class="tab-pane active" id="tab-mab">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span12">
                            <p class="sectionhead">
                                The Magnet Mobile App Builder is a command line utility that allows users
                                to create their custom mobile app projects, add API modules, generate Mobile APIs
                                for use with Mobile Server Library on iOS and Android, build the Mobile
                                Backend, initialize local or remote databases, and manage the lifecycle
                                of Mobile Backend instances (e.g. deploy, start, stop) either locally or
                                in the cloud.
                            </p>
                            <div class="select-tool">
                                <div class="o-mac">
                                    <a href="/resources/files/mab.zip" class="btn btn-primary">Download Magnet Mobile App Builder</a>
                                    <p><br /><b>Note:</b> The Magnet Mobile App Builder is compatible with Windows, OSX, and Linux.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-ms-sdk">
                    <div class="row-fluid">
                        <div class="resources-samples-contents span12">
                            <p class="sectionhead">
                                The Magnet Mobile SDK provides a set of libraries and APIs for synchronous, asynchronous, or reliable call options,
                                applying network and geo-fencing constraints, response caching, and user authentication when interacting with the Magnet
                                Mobile Backend.
                            </p>
                            <div class="selector clearfix">
                                <div class="caption"><b>Platform Version</b></div>
                                <div did="select-sdk" class="select-sdk selector-options">
                                    <a did="a-phone" class="a-phone-btn active" href="#"></a>
                                    <a did="i-phone" class="i-phone-btn" href="#"></a>
                                    <a did="javascript" class="javascript-btn" href="#"></a>
                                </div>
                            </div>
                            <div class="select-sdk">
                                <div class="a-phone">
                                    <a href="https://github.com/magnetsystems/magnet-sdk-android" target="_blank" class="btn btn-primary">Go to Mobile SDK for Android GitHub Project</a>
                                </div>
                                <div class="i-phone" style="display:none">
                                    <a href="https://github.com/magnetsystems/magnet-sdk-ios" target="_blank" class="btn btn-primary">Go to Mobile SDK for iOS GitHub Project</a>
                                </div>
                                <div class="javascript" style="display:none">
                                    <a href="https://github.com/magnetsystems/magnet-sdk-javascript" target="_blank" class="btn btn-primary">Go to Mobile SDK for JavaScript SDK GitHub Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>


