<script data-main="../js/account" src="../js/libs/require.js"></script>

    <div class="row-fluid">
        <div id="mmx-page" class="clearfix page-view">
            <h4>Messaging</h4>

            <p>Some messaging stuff here.</p>

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#mmx-apps" role="tab" data-toggle="tab">
                    <span class="visible-xs-inline">Apps</span>
                    <span class="hidden-xs">Messaging Apps</span>
                </a></li>
                <li><a href="#mmx-config" role="tab" data-toggle="tab">
                    Configuration
                </a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="mmx-apps">
                    <button id="create-messaging-app-showmodal-btn" type="button" class="btn btn-primary">
                        Create App
                    </button>
                    <div id="mmx-app-list"></div>
                </div>
                <div class="tab-pane clearfix" id="mmx-config">

                    <div class="row-fluid">
                        <div class="col-md-6">
                            <h4>Google Cloud Messaging (GCM)</h4>
                            <form role="form">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>GCM Id</label>
                                        <input type="text" class="form-control" name="gcm-id" placeholder="GCM Id" value="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>GCM API Key</label>
                                        <input type="text" class="form-control" name="gcm-apikey" placeholder="GCM API Key" value="" />
                                    </div>
                                </div>
                                <div class="btn-row">
                                    <a class="btn btn-primary">Save Changes</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <h4>Apple Push Notification Service (APNS)</h4>
                            <form role="form">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>APNS Certificate</label>
                                        <input type="file" name="apns-cert" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>APNS Password</label>
                                        <input type="password" class="form-control" name="apns-pass" placeholder="APNS Password" value="" />
                                    </div>
                                </div>
                                <div class="btn-row">
                                    <a class="btn btn-primary">Save Changes</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="row-fluid">
                        <div class="col-md-6">
                            <h4>Send A Test GCM Push</h4>
                            <form role="form">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>Device Id</label>
                                        <input type="text" class="form-control" name="gcm-push-id" placeholder="Device Id" value="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Message</label>
                                        <input type="text" class="form-control" name="gcm-push-msg" placeholder="Message" value="" />
                                    </div>
                                </div>
                                <div class="btn-row">
                                    <a class="btn btn-primary">Send</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <h4>Send A Test APNS Push</h4>
                            <form role="form">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>Device Id</label>
                                        <input type="text" class="form-control" name="apns-push-id" placeholder="Device Id" value="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Message</label>
                                        <input type="text" class="form-control" name="apns-push-msg" placeholder="Message" value="" />
                                    </div>
                                </div>
                                <div class="btn-row">
                                    <a class="btn btn-primary">Send</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script id="MessagingAppsListView" type="text/template">
        <% if(col && col.length > 0){ %>
        <% _.each(col, function(model, key){ %>
        <div did="<%- model.attributes.magnetId %>" class="panel panel-default <% if(!model.attributes.magnetId){ %>hidden<% } %>">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%- model.attributes.appName %>
                    <button class="mmx-edit btn btn-default">
                        <span class="glyphicon glyphicon-pencil pull-right"></span>
                    </button>
                </h3>
                <div class="panel-name hidden">
                    <input type="text" class="form-control" name="appName" value="<%- model.attributes.appName %>">
                    <button class="mmx-saveedit btn btn-default">
                        <span class="glyphicon glyphicon-ok pull-right"></span>
                    </button>
                    <button class="mmx-caneledit btn btn-default">
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>API Key</label>
                    <div class="controls">
                        <input type="text" class="form-control" name="apiKey" readonly="readonly" value="<%- model.attributes.apiKey %>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button did="regenerate" class="btn btn-primary">Regenerate Keys</button>
                        <button did="revoke" class="btn btn-primary">Revoke Keys</button>
                        <button did="delete" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
        <% }else{ %>
            You have not created any apps.
        <% } %>
    </script>


<div id="create-messaging-app-alert" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create Messaging App</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <label>App Name</label>
                    <input type="text" name="appName" class="form-control" value="Name of your app">
                </div>
            </div>
            <div class="modal-footer">
                <button id="create-messaging-app-btn" class="btn-primary btn">Create</button>
                <button data-dismiss="modal" type="button" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>
