<div id="subhead">
    <div class="row-fluid">
        <div class="col-sm-8 col-xs-12">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/img/logo_r2m_main.png"  />
                </a>
                <div id="subhead-title" class="media-body">
                    <h4 class="media-heading">Mobile Messaging</h4>
                    <p>Guaranteed and reliable message delivery.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item first">Download Client SDK</li>
                <li class="list-group-item"><img src="/img/icon_ios.png" /> iOS</li>
                <li class="list-group-item"><img src="/img/icon_android.png" /> Android</li>
            </ul>
            <a class="home-forkmeongithub-link" target="_blank" href="https://github.com/magnetsystems/rest2mobile"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        </div>
    </div>
    <div class="row-fluid clearfix">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <ul class="home-features-list clearfix">
                <li>send test messages</li>
                <li>supports multiple apps</li>
                <li>Android and iOS</li>
            </ul>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="home-highlight-row">
    <div class="text-center">
        <button class="btn btn-default">Sign In</button> or <a href="#" class="spacing">Register</a></span> <a href="#" class="spacing2">Why do i need to register?</a>
    </div>
</div>

<div class="home-video-container">
    <div class="row-fluid clearfix">
        <div class="col-sm-7 text-center">
            <img src="/img/r2m_video1.png" />
            <p>Setup is easy</p>
        </div>
        <div class="col-sm-5 text-left">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>But also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div>

<div class="text-center">
    <img src="/img/messaging_diagram.png" />
</div>

<div id="footer1" class="mmx">
    <a href="https://github.com/magnetsystems/rest2mobile" target="_blank" id="github-btn">
        <div>
            Find us<br />on GitHub
        </div>
    </a>
    <div class="row-fluid clearfix">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row-fluid clearfix">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h3>Why do I need to register?</h3>
                    <p>Security is important to us.<br />Requiring registration helps provide security for our system and your app.</p>
                    <button class="btn btn-primary">Register</button>
                    <p class="smallcaption">Already Registered? <br /><a href="#">Lets get you signed in!</a></p>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<script src="js/dev/jquery.js"></script>
<script src="js/dev/bootstrap.min.js"></script>
<script src="js/dev/ace.js"></script>
<script src="js/dev/mode-java.js"></script>
<script src="js/dev/mode-javascript.js"></script>
<script src="js/dev/mode-objectivec.js"></script>
<script src="js/dev/mode-json.js"></script>
<script src="js/dev/scripts.js"></script>
