<div class="hero hero-lg general-bgk clearfix">
    <div class="hero-content">
        <div class="media">
            <div class="hero-image">
                <img src="/img/site/logo_xl_mmx_white.png"  />
            </div>
            <div class="hero-title">
                <h3>Mobile Messaging</h3>
                <p>In-App messaging and notifications guaranteed to be delivered</p>
                <hr />
                <ul class="hero-list clearfix">
                    <li>secure message exchange</li>
                    <li>reliable message delivery</li>
                    <li>trackable message status</li>
                    <li>for Android and iOS</li>
                </ul>
            </div>
        </div>
    </div>
    <!--<a class="home-forkmeongithub-link" target="_blank" href="https://github.com/magnetsystems/rest2mobile"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>-->
    <div class="hero-overlay"></div>
</div>

<div class="download-advertisement clearfix">
    <h3 class="text-center">The client SDK will be <b>available soon</b>.</h3>
    <div class="row-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 text-center">
            <a href="#" class="btn btn-primary android disabled">Android SDK</a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="#" class="btn btn-primary ios disabled">iOS SDK</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="clearfix text-center general-bgk">
    <h3>Try it out</h3>
    <div id="messaging-demo">
        <div class="row-fluid clearfix">
            <div class="col-sm-8">
                <div id="messaging-form">
                    <div class="form-group">
                        <select class="form-control" name="message-type">
                            <option value="push-android">Push </option>
                            <option value="message-android">In-App Message</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="your message" name="message-payload">
                            <div class="btn btn-primary invert input-group-addon" did="messaging">Send</div>
                        </div>
                    </div>
                </div>
                <div id="messaging-demo-code" class="code clearfix"></div>
            </div>
            <div class="col-sm-4 text-center">
                <div id="messaging-demo-phone">
                    <div id="messaging-demo-phone-wrapper">
                        <div>my message</div>
                    </div>
                    <img src="/img/developer/messaging_demo_phone.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="newsletter-signup clearfix text-center">
    <h3>Request an Invite</h3>
    <p>Sign up to be added to our list for an invite to this service.</p>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Email Address" name="email">
            <div class="newsletter-signup-btn btn btn-primary invert input-group-addon" did="messaging">Sign me up</div>
        </div>
    </div>
</div>

<script id="sample-push-android" type="text/template">String pushMessage = "[%= val %]";
String deviceId = "user1-device-1";
String userId = "user1";
mmxClient = MMXClient.getInstance(this, R.raw.quickstart);
PushManager pushManager = mmxClient.getPushManager();
// send Push Notification
pushManager.push(userId, deviceId, String.class.getName(), pushMessage);
</script>

<script id="sample-message-android" type="text/template">String textMessage = "[%= val %]";
String userId = "user1";
mmxClient = MMXClient.getInstance(this, R.raw.quickstart);
Options messageOptions = new Options();
messageOptions.enableReceipt(true); // for confirmation
// send in-app message
String msgid = mmxClient.sendMessage(new String[] {userId}
, "text/plain", String.class.getName(),, textMessage, null, messageOptions);
</script>
