<div class="hero hero-lg scenic-bgk clearfix">
    <div class="picture-notify">
        <div class="visible-xs">
            Early Access <p>(request an invite below)</p>
        </div>
        <div class="hidden-xs">
            <img class="picture-notify" src="/img/site/early_access_ribbon.png"  />
        </div>
    </div>
    <div class="hero-content">
        <div class="media">
            <div class="hero-image">
                <img src="/img/site/logo_xl_mmx_white.png"  />
            </div>
            <div class="hero-title">
                <h3>Mobile Messaging</h3>
                <hr />
                <p>Mobile Messaging for Enterprise-grade Apps</p>
            </div>
        </div>
    </div>
</div>

<div class="same-height-panel clearfix">
    <div class="row-fluid clearfix">
        <div class="col-sm-4">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/lock.png"  />
                </div>
                <h5>Security</h5>
                <hr />
                <p>Messages are exchanged directly with authenticated users without going through third party providers.</p>
            </div>
        </div>
        <div class="col-sm-4 mid">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/arrows_in_circle.png"  />
                </div>
                <h5>Reliability</h5>
                <hr />
                <p>Message deliveries are confirmed (once a connection is established with the recipients).</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="img-section-v">
                <div class="img-section-v-img">
                    <img class="img-responsive" src="/img/site/eye.png"  />
                </div>
                <h5>Auditability</h5>
                <hr />
                <p>A history of all message deliveries is maintained for corporate and/or regulatory policy compliance.</p>
            </div>
        </div>
    </div>
</div>

<div class="newsletter-signup clearfix text-center general-bgk">
    <h3>Request an Invite</h3>
    <p>Be a part of our Early Access preview and try Mobile Messaging before its public release</p>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Email Address" name="email">
            <div class="newsletter-signup-btn btn btn-primary invert input-group-addon" did="messaging">Request Invite</div>
        </div>
    </div>
</div>

<div class="clearfix general-bgk text-center">
    <h3>Confirm In-App Messages and Push Notification</h3>
    <div class="row-fluid clearfix">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a href="/img/site/messaging_console_notes.png" data-lightbox="image-1" data-title="Messaging Console">
                <img src="/img/site/messaging_console_notes.png" class="img-responsive" alt="screenshot of the Messaging Console" />
            </a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="clearfix general-bgk text-center">
    <h3>Mobile Messaging SDK</h3>
    <div class="clearfix div-list row-fluid">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="clearfix row-fluid">
                <div class="col-sm-6">
                    <span>•</span> Available for Android
                </div>
                <div class="col-sm-6">
                    <span>•</span> Secure in-app message delivery and confirmation
                </div>
                <div class="col-sm-6">
                    <span>•</span> iOS coming soon
                </div>
                <div class="col-sm-6">
                    <span>•</span> Status tracked during the message lifecycle
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="clearfix text-center general-bgk">
    <h3>Try It Out</h3>
    <div id="messaging-demo">
        <div class="row-fluid clearfix">
            <div class="col-sm-8">
                <div id="messaging-form">
                    <div class="form-group">
                        <select class="form-control" name="message-type">
                            <option value="push-android">Push </option>
                            <option value="message-android">In-App Message</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="your message here" name="message-payload" maxlength="240" value="Hello, this is a message sent from the Magnet Messaging Server.">
                            <div class="btn btn-primary invert input-group-addon" did="messaging">Send</div>
                        </div>
                    </div>
                </div>
                <div id="messaging-demo-code" class="code clearfix"></div>
            </div>
            <div class="col-sm-4 text-center">
                <div id="messaging-demo-phone">
                    <div id="messaging-demo-phone-wrapper">
                        <div>Hello, this is a message sent from the Magnet Messaging Server.</div>
                    </div>
                    <img src="/img/developer/messaging_demo_phone.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>

<script id="sample-push-android" type="text/template">String pushMessage = "[%= val %]";
String deviceId = "user1-device-1";
String userId = "user1";
mmxClient = MMXClient.getInstance(this, R.raw.quickstart);
PushManager pushManager = mmxClient.getPushManager();
// send Push Notification
pushManager.push(userId, deviceId, String.class.getName(), pushMessage);
</script>

<script id="sample-message-android" type="text/template">String textMessage = "[%= val %]";
String userId = "user1";
mmxClient = MMXClient.getInstance(this, R.raw.quickstart);
Options messageOptions = new Options();
messageOptions.enableReceipt(true); // for confirmation
// send in-app message
String msgid = mmxClient.sendMessage(new String[] {userId}
, "text/plain", String.class.getName(), textMessage, null, messageOptions);
</script>
