<!doctype html>
<html class="no-js fuelux" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magnet Developers {{=title}}</title>
    <meta name="description" content="Generate mobile native code for REST services.">
    <meta name="keywords" content="REST API,Data binding,Type safe,Mobile code generation,iOS tool REST,Android tool REST,Javascript tool REST,mobile REST API,Xcode plugin,Android Studio plugin,IntelliJ IDEA plugin">
    <meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@rest2mobile">
	<meta name="twitter:creator" content="@rest2mobile">
	<meta name="twitter:domain" content="developer.magnet.com">
	<meta name="twitter:title" content="Generate mobile native code for REST services">
	<meta name="twitter:image" content="https://developer.magnet.com/img/r2m_logo_lrg.png">
	<meta name="twitter:label1" content="Plugins">
	<meta name="twitter:data1" content="Xcode, Android Studio & IntelliJ IDEA">
	<meta name="twitter:label2" content="Platforms">
	<meta name="twitter:data2" content="Android, iOS & JS">
    <meta property="og:title" content="Magnet rest2mobile" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://developer.magnet.com" />
    <meta property="og:image" content="https://developer.magnet.com/img/r2m_logo_lrg.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:description" content="Generate mobile native code for REST services" />
    <link rel="stylesheet" href="/stylesheets/bootstrap3.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/icomoon.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>

<div id="nav">
    <a href="http://www.magnet.com"><img src="/img/logo_magnet.png" /></a>
    <a href="/"><img src="/img/logo_developer.png" /></a>
    <div class="pull-right hidden-xs" style="margin-right:5px">
        <a href="http://www.magnet.com/dev-blog" target="_blank">Developer Blog <span class="glyphicon glyphicon-circle-arrow-right" style="margin-top:5px"></span></a>
    </div>
</div>

{{-body}}

<div id="leave-feedback-container">
    <a id="feedback-btn" href="">Leave Feedback</a>
    <div id="feedback-content">
        <p>We welcome any comments or questions.</p>
        <select id="feedback-type-field" class="form-control">
            <option value="Comment">Comment</option>
            <option value="Question">Question</option>
        </select>
        <input id="feedback-subject" class="form-control" type="text" placeholder="Subject" name="email">
        <input id="feedback-email" class="form-control" type="text" placeholder="Email Address" name="email">
        <textarea id="feedback-message" class="form-control" placeholder="Message"></textarea>
        <button id="submit-feedback-btn" class="btn btn-primary">Submit Feedback</button>
        <img src="/img/ajax-loader-sm.gif" style="display:none" />
    </div>
    <div id="feedback-complete" style="display:none">
        <h4>Feedback Has Been<br />Submitted</h4>
        <p>Thank you for submitting your feedback or question. We will respond shortly.</p>
    </div>
    <div id="feedback-error" style="display:none">
        <h4>Error Submitting<br />Feedback</h4>
        <p>There was an error submitting your feedback. Please try again later.</p>
    </div>
</div>

<div id="footer2" class="clearfix">
    <div class="row-fluid">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <p>Copyright &copy; Magnet Systems, Inc. 2014 </p>
        </div>
        <div class="col-sm-7">
           <div class="top-links lftflot" style="margin-left:60px"></div><div class="socailfollow top-co-inf rgtflot"><a href="https://www.facebook.com/MagnetSys" class="facebook"><i class="icomoon-facebook"></i></a><a href="https://twitter.com/@magnet_systems" class="twitter"><i class="icomoon-twitter"></i></a><a href="https://www.youtube.com/channel/UC09BNsXO7RXmI8bHHlZpZ8g" class="youtube"><i class="icomoon-youtube"></i></a><a href="https://plus.google.com/100758321520525101306/posts" class="google"><i class="icomoon-google"></i></a><a href="https://www.linkedin.com/company/1327301" class="linkedin"><i class="icomoon-linkedin"></i></a></div>
	</div>
    </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42583982-4', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript" language="javascript">llactid=18080</script>
<script type="text/javascript" language="javascript" src="https://trackalyzer.com/trackalyze_secure.js"></script>

</body>
</html>
