
    <div id="get-started" class="content clearfix">
        <div class="row-fluid clearfix">
            <div class="col-xs-6">
                <h3 class="page-title">Getting Started</h3>
            </div>
            <div class="col-xs-6 text-right">
                <a href="/archives">Archives for version 2.3</a>
            </div>
        </div>
        <hr />
        <ol>
            <li>Download Magnet Server.</li>
            <li>Copy code sample.
                <pre>mvn clean install -DskipTests</pre>
            </li>
            <li>Profit.</li>
        </ol>
    </div>
